

body{
    font-family:Arial; 
    font-weight: 300;
    font-size: 2rem;
    background-color: #444;
    color: #fff;
    text-align: center;
}

h1,h2{
    font-weight: 300;
}

li{
    list-style-type: none;
}